{% extends "base.html" %}

{% block content %}
  <h1 class=" text-left">
    {{ dish.name }}
{#    {% if user.is_superuser %}#}
      <a href="{% url 'restaurant:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page float-right">
        Delete
      </a>
{#    {% endif %}#}
{#    {% if user.is_staff %}#}
      <a href="{% url 'restaurant:dish-edit' pk=dish.id %}" class="btn btn-secondary link-to-page float-right">

        Update
      </a>
{#    {% endif %}#}
  </h1>
  <br>
  <img src="{{ dish.photo.url }}" alt="{{ dish.name }}" width="300px" height="300px">
  <p><strong>Dish type:</strong> {{ dish.dish_type.name }}</p>
  <p><strong>Price:</strong> {{ dish.price }}</p>
  <p><strong>Description:</strong> {{ dish.description }}</p>
  <br>
  <p><strong>Cooks:</strong></p>
  {% for cook in dish.cooks.all %}
    <ul>
      <li>{{ cook.first_name }} {{ cook.last_name }}</li>
    </ul>
  {% endfor %}
{% endblock %}
