{% block content %}
  <h1 class="text-white text-center">
    {{ dish.name }}
    {% if user.is_superuser %}
      <a href="{% url 'restaurant:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page float-right">
        Delete
      </a>
    {% endif %}
    {% if user.is_staff %}
      <a href="{% url 'restaurant:dish-edit' pk=dish.id %}" class="btn btn-secondary link-to-page float-right">

        Update
      </a>
    {% endif %}
  </h1>
  <br>
  <h3 class="text-white"><strong>Dish type:</strong> {{ dish.dish_type.name }}</h3>
  <h5 class="text-white ml-4"><strong>Price:</strong> {{ dish.price }}</h5>
  <h5 class="text-white ml-4"><strong>Description:</strong> {{ dish.description }}</h5>
  <br>
{% endblock %}