{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Dish list
    <a href="{% url 'restaurant:dish-add' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form method="get" action="">
      {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="search">
    </form>
  <br>
  {% if dish_list %}
    <ul>
      {% for dish in dish_list %}
        <li>
          <img src="{{ dish.photo.url }}" alt="{{ dish.name }}" width="150px" height="150px">
          <br>
          <a href="{% url "restaurant:dish-detail" pk=dish.id %} ">{{ dish.name }}</a>
          ({{ dish.dish_type }})
          {{ dish.price }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no dish in menu</p>
  {% endif %}
{% endblock %}
