{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Kittens Restaurant!</h1>
        <p class="lead">The perfect place for every cat-loving food enthusiast.</p>
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Cooks</div>
                <div class="card-body">
                    <h5 class="card-title">{{ num_cooks }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Dishes</div>
                <div class="card-body">
                    <h5 class="card-title">{{ num_dishes }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">Dish Types</div>
                <div class="card-body">
                    <h5 class="card-title">{{ num_dish_types }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p>You have visited this page
            {{ num_visits }} time{{ num_visits|pluralize }}.
        </p>
    </div>

{% endblock %}
